body {
background-color: rgb(0, 0, 0);
color: rgb(255, 229, 248);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px rgb(230, 229, 231);
padding: 30px;
color: rgb(255, 255, 255);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}

.chamada{
background-color: rgb(2, 0, 3);
padding-bottom: 80px;
padding-top: 80px;
display:flex;
justify-content:center;
}

.chamada-texto{
margin-right: 10%;
}

img{
width: 300px;
height: 200px;
}

.categoria-videos{
display: flex;
overflow-x: auto;
gap: 10px;
padding-left: 20px;
}

h2{
padding-left: 30px;
}

body{
padding-bottom: 40px;
}